.header_fonts_menu{
    display: flex;
    justify-content: center;
    gap: 4vw;
    align-items: center;
    margin-top: 50px;
}

img{
    width: 120px;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }


h3{
    font-size: 1.6vw;
    font-weight: 400;
    text-align: center;
    color: #fff7e9;
    line-height: 30px;
    margin-top: 10px;
}


/* ------------------- */

/* Добавьте стили для бургер-меню */
.burgerIcon {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 35px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  .logo{
    display: none;
  }
  
/* Стили для адаптивного меню */
@media (max-width: 820px) {
    .header_fonts_menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: -12%;
        right: 0%;
        background-color: #161616;
        padding: 20px;
        z-index: 1;
        box-shadow: 0 0 1px #8f8383;
        overflow-y: auto;
        max-height: 100vh;
      }
      .logo{
        font-size: 25px;
        display: block;
        position: absolute;
        top: 10%;
        left: 3%;
        text-decoration: none;
        list-style: none;
        color: #fff;
      }
    
      .header_fonts_menu.open {
        display: flex;
        position: fixed;
      }
    .burgerIcon {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 2;
    }
  
    .bar {
      transition: 0.2s;
    }
  
    .bar1.open {
      transform: rotate(-45deg) translate(-6px, 18px);
    }
  
    .bar2.open {
      opacity: 0;
    }
  
    .bar3.open {
      transform: rotate(45deg) translate(-6px, -18px);
    }
  }