.cardWrapper{
    color: inherit;
}
.card {
  width: 300px;
  height: 450px;
  border-radius: 20px;
  transition: 0.2s;
  box-shadow: 0 0 1px #8f8383;
}
 .card:hover{
    transform: scale(1.05);
    box-shadow: none;
}

.cardImg > img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.cardContent {
  z-index: 999;
  text-align: start;
}

@media (max-width: 768px) {
    .card {
      transform: none; /* Отключаем scale на мобильных устройствах */
    }
  
    .card:hover {
      transform: none;
      box-shadow: 0 0 1px #8f8383;

    }
  }

@media (max-width: 750px) {
  .card {
    max-width: 280px;
    width: 100%;
    border-radius: 20px;
    transition: 0.2s;
    /* box-shadow: 0 0 1px #8f8383; */
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .card {
    -webkit-tap-highlight-color: transparent;
  }
}
